{% extends "meeting/base.html" %}
{% load static %}

{% block content %}

<form id='agenda_form' action="" method="post">
    {% csrf_token %}
    <div id='form_block'>
      <ul id='agenda_list_1'>
        {% for aform in form %}
          {{ aform.as_ul }}
        {% endfor %}
      </ul>
    </div>
    <input type="submit" value="Submit" />
    <input id="add_agenda" type="button" value="Add agenda item" />
    {{ form.management_form }}
</form>

<p> Total meeting length: {{ meeting_length }} minutes</p>

{% endblock %}


{% block extra_js %}
<script src="{% static 'meeting/js/add_agenda.js' %}"></script>

{% endblock %}
