{% extends "meeting/base.html" %}

{% block content %}

<h4><a href="{% url 'view-meetings' %}">Back to all meetings</a></h4>
<h4><a href="{% url 'meeting-details' meeting.pk %}">View full details</a></h4>

  <h3>{{ meeting.title }}</h3>
  <ul>
    <li><a href='{% url 'edit-meeting' meeting.pk %}'>Edit meeting details</a></li>
    <li><a href='{% url 'add-attendees' meeting.pk %}'>Edit attendees</a></li>
    <li><a href='{% url 'add-agenda' meeting.pk %}'>Edit agenda</a></li>
  </ul>

{% endblock %}
