{% extends "meeting/base.html" %}

{% block content %}

<h4><a href="{% url 'view-meetings' %}">Back to all meetings</a></h4>
<h4><a href="{% url 'manage-meeting' meeting.pk %}">Manage this meeting</a></h4>


<h2>{{ meeting.title }}</h3>

{% if attendees %}
  <h3>Attendees</h3>
  <a href="{% url 'edit-attendees' meeting.pk %}">Edit attendees</a>
  <ul>
    {% for attendee in attendees %}
    <li>{{ attendee.person }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if agenda_points %}
  <h3>Agenda</h3>

  {% for agenda_point in agenda_points %}
  <ul>
    <li>{{ agenda_point.title }}</li>
    <li>{{ agenda_point.duration }} mins</li>
  </ul>
  {% endfor %}


{% endif %}

{% endblock %}
