{% extends "meeting/base.html" %}
{% load static %}


{% block content %}

<h2>{{ meeting.title }}</h2>
<h4>Attendees: {% for a in attendees %}{{ a.person }}, {% endfor %}</h4>

<form id="meeting-notes-form" action="" method="post">
  {% csrf_token %}
  <div id='notes-forms'>
    <ul>
      {{ nforms.as_ul }}
    </ul>
  </div>
  <div id='action-forms'>
    <ul>
    {{ aforms.as_ul }}
    </ul>
  </div>
    <input type="submit" value="Submit" />
</form>


{% endblock %}

{% block extra_js %}
<script src="{% static 'meeting/js/add_agenda.js' %}"></script>

{% endblock %}
