{% extends "meeting/base.html" %}

{% block content %}

<h3><a href="{% url 'create-meeting' %}">Create a new meeting</a></h3>

{% for meeting in meetings %}
  <h3>{{ meeting.title }}</h3>
  <ul>
    <li>{{ meeting.dateTime }}</li>
    <li>{{ meeting.location }}</li>
    <li><a href="{% url 'manage-meeting' meeting.pk %}">Manage meeting</a></li>
    <li><a href="{% url 'meeting-details' meeting.pk %}">View full details</a></li>
    <li><a href="{% url 'meeting-notes' meeting.pk %}">Make notes</a></li>
  </ul>
{% endfor %}


{% endblock %}
